<h1>Profile</h1>
<p>User id: <%= @user.id %></p>
<% if @user.name != "" then %>
<p>Name: <%= @user.name %></p>
<% end %>
<p> Email: <%= @user.email %></p>

<p><%= link_to 'Edit Profile', edit_user_path(current_user) %> | 
	<%= link_to 'Change Password', edit_user_path(current_user) %> | 
	<%= link_to 'Authentications', user_authentications_path(current_user) %> | 
	<%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>